.userSettingsHolder {
  display: flex;
}

.allFormElementsHolder {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#formCheckTwo {
  margin-bottom: 1em;
}

#btnSave {
  background-color: #b96b0b;
  color: black;
  outline-style: groove;
  outline-color: black;
  margin-top: 1em;
}

#btnGoBack {
  background-color: white;
  color: black;
  outline-style: groove;
  outline-color: black;
  margin-top: 4em;
}
