.tableRowOne {
  border-top: 3px solid black;
  border-bottom: 1.5px solid black;
}

.tableRowTwo {
}

.tableRowThree {
}

#btnGoBack {
  background-color: white;
  color: black;
  outline-style: groove;
  outline-color: black;
  margin-top: 4em;
}
