.tableRowOne {
  border: 1.5px solid black;
}

.tableRowTwo {
  border: 1.5px solid black;
}

#btnGoBack {
  background-color: white;
  color: black;
  outline-style: groove;
  outline-color: black;
  margin-top: 4em;
}
