.userInputCard {
  border-radius: 2em;
  background-color: #7e7f80;
  box-shadow: 0.15em 0.15em black;
  display: block;
  margin: 0 auto;
  max-width: 63%;
  min-width: 60%;
  padding: 1.5em;
  margin-top: 5%;
}

.gameCard {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 14em;
  border-style: none;
  border-radius: 2em;
  box-shadow: 0.15em 0.15em black;
}

.generalUICard {
  border-radius: 2.5em;
  background-color: #7e7f80;
  box-shadow: 0.15em 0.15em black;
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  min-width: 60%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}

.logoSmall {
  width: 5em;
  height: 4em;
  clip-path: inset(19px 24px 19px 27px);
  transform: scale(250%);
}

.navButtons {
  font-size: 1.6em;
  font-weight: 700;
  border-radius: 1em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cardContent {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* TODO: Implement proper resizing for smaller devices */
#statsNavButton {
  margin-left: 50px;
  margin-right: 50px;
}

#userSettingsNavButton {
  margin-right: 0.7%;
}

#searchNavButton {
  width: 9.5em;
}

#navBarButtonHolder {
  display: flex;
  margin-left: auto;
  margin-right: 2.5em;
}

#gameCardImage {
  max-width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
  border-bottom-color: #b96b0b;
}

#favouritesButton {
  background-color: #b96b0b;
  color: black;
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline-style: groove;
  outline-color: black;
}

.gameAttributes {
  font-size: smaller;
}
