.userInputCard {
  border-radius: 2em;
  background-color: #7e7f80;
  box-shadow: 0.15em 0.15em black;
  display: block;
  margin: 0 auto;
  max-width: 63%;
  min-width: 60%;
  padding: 1.5em;
  margin-top: 5%;
}

.gameCard {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 14em;
  border-style: none;
  border-radius: 2em;
  box-shadow: 0.15em 0.15em black;
}

.newsCard {
  background-color: white;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border-style: none;
  box-shadow: 0.15em 0.15em black;
  border-radius: 2em;
}

.generalUICard {
  border-radius: 2.5em;
  background-color: #7e7f80;
  box-shadow: 0.15em 0.15em black;
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  min-width: 60%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}

.logoSmall {
  width: 5em;
  height: 4em;
  clip-path: inset(19px 24px 19px 27px);
  transform: scale(250%);
}

.navButtons {
  font-size: 1.6em;
  font-weight: 700;
  border-radius: 1em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cardContent {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.gameCardImage {
  max-width: 100%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-style: solid;
  border-bottom-width: 0.5em;
  border-bottom-color: #b96b0b;
}

.newsDate {
  margin-left: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b96b0b;
  border-radius: 1em;
}

.newsMessage {
  margin-left: 1em;
  margin-right: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  padding: 1em;
  margin-bottom: 2em;
}

.horizontalListCard {
  display: flex;
  text-align: center;
  padding: 10px;
  border-radius: 2em;
  width: 100%;
  background-color: white;
  border-color: black;
}

.horizontalListCardItem {
  margin-left: 3em;
  margin-right: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.modal {
  z-index: 300;
  margin: auto;
  text-align: center;
  margin-top: 10em;
  margin-left: 6em;
  margin-right: 6em;
  padding: 2em;
  border-color: black;
  border-style: solid;
  background-color: #7e7f80;
  border-radius: 2em;
}

.modalHintHolder {
  margin-bottom: 1em;
}

.backdrop {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#statsNavButton {
  margin-left: 50px;
  margin-right: 50px;
}

#userSettingsNavButton {
  margin-right: 0.7%;
}

#newsNavButton {
  margin-left: 2.5em;
}

#adminNavButton {
  color: #b96b0b;
}

#searchNavButton {
  width: 9.55em;
  margin-left: 2.5em;
}

#navBarButtonHolder {
  display: flex;
  margin-left: auto;
  margin-right: 2.5em;
}

#favouritesButton {
  background-color: #b96b0b;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  outline-style: groove;
  outline-color: black;
}

#favouritesButtonTwo {
  background-color: #b96b0b;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  outline-style: groove;
  outline-color: black;
}

#cardButtonHolder {
}

#cardButtonHolderTwo {
}

.gameAttributes {
  display: flex;
  margin-top: 2em;
  font-size: smaller;
}

#btnGoBack {
  background-color: white;
  color: black;
  outline-style: groove;
  outline-color: black;
  margin-right: 3em;
  height: 50px;
  width: 120px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: large;
}

#btnConfirm {
  background-color: #b96b0b;
  color: black;
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline-style: groove;
  outline-color: black;
  margin-left: 3em;
  height: 50px;
  width: 120px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: large;
}

#btnBan {
  margin-left: 3em;
  margin-right: 3em;
  background-color: #b96b0b;
  color: black;
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
}

#modalHint {
  color: #b96b0b;
  text-shadow: 1.5px 1.5px 1.5px black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}

#modalTextArea {
  border-radius: 1em;
  border: 5px solid black;
  padding: 10px;
  resize: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #b8b8b8;
}
