body {
  background-color: #4e4e4e;
}

.logo {
  width: 250px;
  height: 250px;
}

.page-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.form-group {
  display: block;
  width: 100%;
  margin: 0 30%;
  padding: 0.7em;
}

.form-control {
  max-width: 40%;
  min-width: 30%;
  outline-style: groove;
  outline-color: black;
}

.center-content-holder {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px 1px 1px black;
  margin-top: 1em;
}

.login-input-label {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0.3em;
}

#button-login {
  background-color: #b96b0b;
  color: black;
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline-style: groove;
  outline-color: black;
}

#create-account-link {
  color: #b96b0b;
  text-decoration: underline;
}
