body {
  background-color: #4e4e4e;
}

.logo {
  width: 250px;
  height: 250px;
}

.page-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.form-group {
  display: block;
  width: 100%;
  margin: 0 30%;
}

.form-control {
  max-width: 40%;
  min-width: 30%;
}

#login-logo-holder {
  display: flex;
  justify-content: center;
}

#login-header-holder {
  display: flex;
  justify-content: center;
}

#login-username-label {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px black;
}
