body {
  background-color: #4e4e4e;
}

.logo {
  width: 250px;
  height: 250px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.col {
  padding-bottom: 1em;
  max-width: 50%;
  min-width: 35%;
  display: block;
  margin: 0 auto;
}

.form-control {
  outline-style: groove;
  outline-color: black;
  display: block;
  margin: 0 auto;
}

.center-content-holder {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px 1px 1px black;
  margin: 0 auto;
}

.center-button-bar-holder {
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.user-input-label {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0.3em;
}

.thrift-e-navbar {
  display: flex;
}
