#btn_login {
  background-color: #b96b0b;
  color: black;
  padding-inline-start: 1.5em;
  padding-inline-end: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline-style: groove;
  outline-color: black;
}

#create_account_link {
  color: #b96b0b;
  text-decoration: underline;
}
